# IDEs
.idea

go-microservices-course.iml

# Temporary files
tmp

# Environments
.env
.env.prod

# Coverage
profile.cov

# Builds
brokerApp
frontApp
authApp
loggerServiceApp
mailerServiceApp
listenerApp
frontEndApp

# DS Store
.DS_Store

# DB Files
*/db-data/*/

# Caddyfile
Caddyfile
Caddyfile.production

# Kubernetes
kubectl
kubectl.*